.most-all-containt {

    background-color: #27292a;
    margin-top: 30px;
    padding: 60px;
    border-radius: 20px;
}

.header {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.card-wrapper {
    background-color: #191b1b;
    padding: 25px;
    
    border-radius: 50px;


}

.poup-img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 10px
}

.most-title {
    display: flex;
    justify-content: space-between;

}

ul li {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.star {
    color: yellow;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: space-between;
}

.containt {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

}

.containt {
    flex: 1;
}
